<html>
<head>
    <title>New Ninja</title>
</head>
<body>
    <form action="/ninjas" method="post">
        Name: <input type="text" name="name">
        Age: <input type="text" name="age">
        <button type="submit">Submit</button>
    </form>
</body>
</html>