<html>
    <head>
        <title>Show Ninja</title>
    </head>
    <body>
        <h4>Now showing the ninja: </h4>
        <p>Name:  <%= ninja.name %> </p>
        <p>Age:  <%= ninja.age %> </p>
    </body>
</html>